<h1>Productos</h1>
{{#if mostrarProductos}}
  {{#each productos}}
    <div>
      <p>titulo:{{this.title}} </p>
      <p>precio:{{this.price}} </p>
      <img src="{{this.img}}" alt="imgthistitlte" />
    </div>
  {{/each}}

{{else}}
  <p>no se puede mostrar</p>
{{/if}}